<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Test connaissance angular</title>
</head>
<body>
	
	<div><p>Le pré test : en angular <a href="http://www.oxiane.com/quiz-angularjs">(http://www.oxiane.com/quiz-angularjs/)</a> <a href="http://www.oxiane.com/quiz-javascript">(http://www.oxiane.com/quiz-javascript/)</a> 8/10 Strict mini. <pre>(10Angu et 9 JS)</pre>
		
		<div><p> Pour toutes les questions, il n'y a qu'une seule réponse correct !!! </p></div>
		
		
		<div >1. Quel est le rôle de l’attribut ng-app ?</div>
		<ul>
			<li>Il doit être présent pour tous les éléments utilisés par Angular.</li>
			<li>Il marque l’élément racine de l’application AngularJS.</li>
			<li>Il est un attribut personnalisé pour lequel vous pouvez définir une fonction personnalisée.</li>
			<li>Il ne joue aucun rôle.</li>
		</ul>
	</div>
	<div >2. Que fait {{ link }} à l’intérieur du template Angular ?</div>
	<ul>
		<li>Affiche 'link' .</li>
		<li>Vous permet de lier un ensemble de variables depuis une liste.</li>
		<li>Transmettra à Angular d’évaluer 'link' et de l’insérer dans DOM.</li>
		<li>Il n’y a pas une telle notation en Angular.</li>
	</ul>
</div>
<div >
	<div >3. Que fait la structure de code suivante ?
		<br><br><pre><span style="font-family:'Consolas', Arial, Helvetica, sans-serif; font-size:12px; color:#0099ff; line-height:17px; font-weight: normal;">
		<code>
			&lt;div id=”container”&gt; 
			&lt;div class=”persons” ng-repeat=”person in persons”&gt; 
			&lt;p class=”person”&gt; {{ person.name }}&lt;/p&gt; 
			&lt;/div&gt; 
			&lt;/div&gt;
		</code>

	</span> </pre></div>
	<ul>
		<li>Elle sortira la structure du code tel quel.</li>
		<li>La directive ng-repeat vous permettra d’insérer le nom de la personne dans le paragraphe. </li>
		<li>Elle sortira une div.persons avec un paragraphe pour chacune des personnes avec son nom.</li>
		<li>Elle sortira une div.persons pour chacune des personnes avec un paragraphe avec son nom à l’intérieur. </li>
	</ul>
</div>
<div >
	<div >4. Que fait la directive ng-controller ?</div>
	<ul>
		<li>Elle attache un contrôleur à votre élément. </li>
		<li>Elle attache une variable à l’élément.</li>
		<li>Elle dit à l’Angular qu’elle peut contrôler l’élément marqué du DOM.</li>
		<li>Aucune des réponses ci-dessus. </li>
	</ul>
</div>
<div >
	<div >5. Étant donné le code suivant :<br><br><pre><span style="font-family:'Consolas', Arial, Helvetica, sans-serif; font-size:12px; color:#0099ff; line-height:17px; font-weight: normal;">
		myModule.controller(‘myController’, function($scope) {[...]});

	</span> </pre>
	Que contient la variable $scope ?</div>
	<ul>
		<li>L’élément du DOM où est injecté le contrôleur. </li>
		<li>Le scope disponible pour toutes les liaisons à l’intérieur de l’élément du contrôleur.</li>
		<li>L’événement rappel du contrôleur. </li>
		<li>Aucune des réponses ci-dessus.</li>
	</ul>
</div>
<div >
	<div >6. Que fait la ligne de code suivante ?
		<br><br><pre><span style="font-family:'Consolas', Arial, Helvetica, sans-serif; font-size:12px; color:#0099ff; line-height:17px; font-weight: normal;">
		<code>
			&lt;div class=”item” ng-repeat=”item in items | filter:name”&gt; {{ item.name }}&lt;/div&gt; 
		</code>
	</span> </pre></div>
	<ul>
		<li>Elle sortira un div pour chacun des éléments contenant le paramètre « name ». </li>
		<li>Elle sortira un div pour chacun des éléments contenant la chaîne de caractères « name ».</li>
		<li>Elle sortira un div pour chacun des éléments contenant le contenu du ng-model « name ».</li>
		<li>Aucune des réponses ci-dessus.</li>
	</ul>
</div>
<div >
	<div >7. Quel filtre devriez-vous utiliser avec une directive ng-repeat afin de trier une liste par l’attribut spécifique d’un modèle ?</div>
	<ul>
		<li>orderBy</li>
		<li>sortBy</li>
		<li>filterBy</li>
		<li>Aucune des réponses ci-dessus.</li>
	</ul>
</div>
<div >
	<div >8. Quel est le service Angular HTTP qui vous permet de faire des requêtes AJAX ?</div>
	<ul>
		<li>$.get</li>
		<li>$.post</li>
		<li>$.get ou $.post</li>
		<li>$http</li>
	</ul>
</div>
<div >
	<div >9. Comment s’appelle le module AngularJS vous permettant de travailler avec des routes ?</div>
	<ul>
		<li>ngRessource</li>
		<li>ngPath</li>
		<li>ngRouting</li>
		<li>Aucune des réponses ci-dessus.</li>
	</ul>
</div>
<div >
	<div >10. Quelle est la modalité correcte de définir la route ‘/student’ qui va charger le template student.html et le contrôleur StudentCtrl ?</div>
	<ul>
		<li>on(‘/student’, ‘student.html’, StudentCtrl)<br></li>
		<li>when({<br>   path: ‘/student’,<br>    template: ‘student.html’,<br>    controller: StudentCtrl<br> })<br></li>
		<li>when(‘/student’,{<br>    templateUrl: ‘student.html’,<br>    controller: StudentCtrl<br> })<br></li>
		<li>Aucune des réponses ci-dessus.</li>
	</ul>
</div>
<div >
	<div >11. Étant donné $scope.myMethod = function(){...}. Comment pouvez-vous appeler la méthode en cliquant à l’intérieur d’un élément dans votre scope ?</div>
	<ul>
		<code>
			<li>&lt;div onclick=’myMethod’&gt; &lt;/div&gt; </li>
			<li>&lt;div&gt;myMethod()&lt;/div&gt;</li>
			<li>&lt;div ng-click=’myMethod’&gt; &lt;/div&gt; </li>
			<li>&lt;div ng-click=’myMethod()’&gt; &lt;/div&gt; </li>
		</code>
	</ul>
</div>
<div >
	<div >12. Quelle est la différence fonctionnelle entre les attributs ng-model et data-ng:model ?</div>
	<ul>
		<li>Il n’y a aucune différence fonctionnelle. </li>
		<li>data-ng:model est une version obsolète de liaison des modèles. </li>
		<li>ng-model insère le modèle dans le scope.</li>
		<li>Aucune des réponses ci-dessus.</li>
	</ul>
</div>
<div >
	<div >13. Quelle est la syntaxe correcte pour utiliser des filtres multiples ?</div>
	<ul>
		<li>{{ expression | filter1, filter2, ... }}</li>
		<li>{{ expression | [ filter1, filter2, ... ] }}</li>
		<li>{{ expression | filter1 | filter2 | … }}</li>
		<li>Aucune des réponses ci-dessus.</li>
	</ul>
</div>
<div >
	<div >14. Comment pouvez-vous définir un module personnalisé en utilisant AngularJS ?</div>
	<ul>
		<li>var myModule = new ngModule(‘myModule’, [])</li>
		<li>var myModule = angular.module(‘myModule’, [])</li>
		<li>var myModule = new angular[‘module’](‘myModule’, [])</li>
		<li>var myModule = new angular({type: ‘module’, name:’myModule’, definition: function(){[...]}})</li>
	</ul>
</div>
<div >
	<div >15. Parmi les options suivantes, quelle est la modalité correcte d’utiliser le filtre myFilter avec l’argument ‘arg’ ?</div>
	<ul>
		<li>{{ items | myFilter:’arg’ }}</li>
		<li>{{ items : myFilter = ‘arg’ }}</li>
		<li>{{ items (myFilter = ‘arg’) }}</li>
		<li>{{ items | myFilter = ‘arg’ }}</li>
	</ul>
</div>
<div >
	<div >16. Comment sera affiché le code suivant ? <br>
		<code>
			&lt;div&gt; 1 + 2 = {{ 1 + 2 }} &lt;/div&gt;
		</code>
	</div>
	<ul>
		<li>true</li>
		<li>1 + 2 = {{ 1 + 2 }}</li>
		<li>1 + 2 = 3</li>
		<li>Aucune des réponses ci-dessus.</li>
	</ul>
</div>
<div >
	<div >17. Étant donné le code suivant, comment pouvez-vous accéder à une variable de scope définie dans un contrôleur ?<br><br><pre><span style="font-family:'Consolas', Arial, Helvetica, sans-serif; font-size:12px; color:#0099ff; line-height:17px; font-weight: normal;">
		
		$scope.myController = function($scope) {
		$scope.myVar = 'Hello world !';
	}
	
</span> </pre></div>
<ul>
	<code>
		<li>&lt;div ng-controller=”myController”&gt; {{ myVar }} &lt;/div&gt;</li>
		<li>&lt;div&gt;{{ myController.myVar }} &lt;/div&gt;</li>
		<li>&lt;div controller=”myController”&gt; {{ $scope.myVar }} &lt;/div&gt;</li>
		<li>&lt;div ng-controller&gt;{{ myController.$scope.myVar }} &lt;/div&gt;</li>
	</code>
</ul>
</div>
<div >
	<div >18. Que fait le code suivant placé à l’intérieur d’un contrôleur Angular ?<br><br><pre><span style="font-family:'Consolas', Arial, Helvetica, sans-serif; font-size:12px; color:#0099ff; line-height:17px; font-weight: normal;">
		<code>
			&lt;input ng-model=”val1” id=”myFirstValue” /&gt;  
			&lt;input ng-model=”val2” id=”mySecondValue” /&gt; 
			&lt;p&gt; {{ val1 * val2 }}&lt;/p&gt; 
		</code>
	</span> </pre></div>
	<ul>
		<li>Il introduit dans le paragraphe la valeur input#myFirstValue multipliée par la valeur de la deuxième entrée lors du premier chargement du contrôleur.</li>
		<li>Il affiche dans le paragraphe la valeur input#myFirstValue multipliée par la valeur input#mySecondValue </li>
		<li>Ce Code génère une erreur</li>
		<li>Aucune des réponses ci-dessus.</li>
	</ul>
</div>
<div >
	<div >19. À quoi sert la directive ngPluralize ?</div>
	<ul>
		<li>C’est une directive mathématique. </li>
		<li>À l’usage des contrôleurs multiples.</li>
		<li>À afficher des messages selon les règles de localisation en-US.</li>
		<li>Aucune des réponses ci-dessus.</li>
	</ul>
</div>
<div >
	<div >20. Quelle est la modalité correcte ?</div>
	<ul>
		<code>
			<li>&lt;a href=”/a.php?id={{ id }}”&gt; Link&lt;/a&gt; </li>
			<li>&lt;a href=”/a.php?{{ “id=” + id }}”&gt; Link&lt;/a&gt; </li>
			<li>&lt;a ng-href=”/a.php?id={{ id }}”&gt; Link&lt;/a&gt; </li>
			<li>Aucune des réponses ci-dessus.</li>
		</code>
	</ul>
</div>
</body>